

@media screen and (max-width: $exExLarge)
   .accueil 
    &_image
      width: 70%
      margin-left: 15%

@media screen and (min-width: $large) and (max-width: $exLarge)

  .accueil 
    &_image
      width: 70%


@media screen and (max-width: $large)
  .accueil
    flex-direction: column-reverse

    &_image
      width: 80%
      margin-left: 10%
      margin-bottom: 40px
      
    &_title
      margin: 40px auto

@media screen and (max-width: $small)
  .acceuil
    &_image
      width: 50%