
header
  background-color: $color-grisc
  box-shadow: 0px 6px 8px $color_grisc
  nav
    a
      background: $color_grisf
      color: $color_white
      padding: 5px 10px
  nav    
    a:hover 
      color: $color_blue
  

#header_logo
  max-width: 100px
label
    display: none
  

#toggle
    display: none

#burger
    position: relative
    display: inline-block
    border-top: 3px solid $color_white
    border-bottom: 3px solid $color_white
    width: 50px
    height: 40px

#burger:not()
  border: none
  border-bottom: none
  transform: rotate(90deg)
  height: 45px

#burger::before, #burger::after
  position: absolute
  content: ''
  display: block
  width: 90%
  height: 3px
  background-color: $color_white
  left: 5%
  top: calc(50% - 1px)
  transform: all .3s

#burger:not()::before
  transform: rotate(45deg)

#burger:not()::after
  transform: rotate(-45deg)



@media screen and (max-width: $medium) 
  .menu
    display: none
    flex-direction: column  
    
  .menu 
    position: absolute
    top: 150px
    left: 0
    width: 100%
    background: $color_grisf
    
    a
      width: 100%
      text-align: center
      padding: 10 0
      
  label
      width: 30px
      display: flex
      align-items: center
      font-size: 40px
      color: white
      cursor: pointer
  #toggle:checked + .menu
      display: flex
      transition: 0.5s ease

