
// color police
$color: #636466

// palette
$primary: rgb(162,212,245)
$primary_light: #589fce
$secondary: #cab957


// couleur info
$warning: #d1a52c
$success: #65a32f
$danger : #af3438




$color_body: white  
$color_dark: black
$color_white: white
$color_gray: #eee


// breakpoint

$small: 576px
$medium: 768px
$large: 992px
$exLarge: 1200px
$exExLarge: 1400px


// btn
$border_radius_btn: 5px

// separator
$height_separator: 2px

// toolbox
$border_radius_toolbox: 4px


// alert
$border_radius_alert : 10px